<h1>Hamburgers!</h1>

<h2>What kind of hamburger do you want?</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <div>{{{this.burger_name}}} Devoured!<br>
   </div>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Hamburger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="not-devoured">Burger Name:</label>
    <button type="change-devour">
      Devoured</button>
   <button class="change-devour" type="submit">Add Burger</button> <input type="text" id="ca" name="name">

</form>
